package components 

templ Layout(title string) {
    <html>
        <head>
            <title>{ title }</title>
            <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
            <link rel="stylesheet" href="/static/css/output.css"></link>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body class={ global() }>
            <div class="w-full md:w-[600px] pt-[10vh] md:pt-[30vh] px-8 md:m-auto">
                { children... }
            </div>
        </body>
    </html>
}

css global() {
    font-family: "Arial", sans-serif;
    background-color: #f7f7f7;
}
